{
    "TOKEN": "",
    "Owners": [
        {
            "id": "",
            "name": ""
        }
    ],
    "RolePoints": [
        {
            "points": 0,
            "role": ""
        },
        {
            "points": 100,
            "role": ""
        },
        {
            "points": 200,
            "role": ""
        },
        {
            "points": 300,
            "role": ""
        },
        {
            "points": 500,
            "role": ""
        },
        {
            "points": 700,
            "role": ""
        }
    ],
    "QueueTextVoiceIds": [
        {
            "text": "",
            "voice": ""
        }
    ],
    "QueueRoleIds": [
        {
            "voice": "",
            "roles": [
                ""
            ]
        }
    ],
    "Channels": {
        "RegisterId": "",
        "RegisterLogId": "",
        "AuditLogId": "",
        "SkyLogId": "",
        "MessageLogId": "",
        "PointLogId": "",
        "InformationId": "",
        "LogsCategoryId": "",
        "PointsUpdateId": "",
        "PlayRulesId": ""
    },
    "Roles": {
        "DefaultRoleName": "",
        "RegisteredId": "",
        "MuteRoleId": ""
    },
    Flags": {
        "Partner": "",
        "Hypesquad": "",
        "BugHunterLevel1": "",
        "BugHunterLevel2": "",
        "HypeSquadOnlineHouse1": "",
        "HypeSquadOnlineHouse2": "",
        "HypeSquadOnlineHouse3": "",
        "PremiumEarlySupporter": "",
        "CertifiedModerator": "",
        "VerifiedDeveloper": "",
        "NitroUser": ""
    }
}